<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Extensions.Logging"/>
	</extensions>

	<targets async="true">

		<!-- write logs to Console -->
		<target name="console" xsi:type="ColoredConsole"
		  layout="${time}|${level:uppercase=true}|${logger}|${message:withexception=true}"
          stderr="true"
          detectConsoleAvailable="true"
          detectOutputRedirected="true"
		/>

		<!-- write logs to file -->
		<target name="file" xsi:type="File"
				fileName="${basedir}/App_Data/log/log-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"
				encoding="utf-8"
            />
	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Warn" final="true" />

		<!--All logs, Debug, including from Microsoft-->
		<logger name = "Microsoft.*" minlevel="Warn" writeTo="file"/>
		<logger name = "*" minlevel="Debug" writeTo="file" />
	</rules>

	<!--
     log levels: Fatal,Error,Warn,Info,Debug,Trace
  -->
</nlog>
